
<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <div class="card-header card-header-danger">
                <h4 class="card-title">List of Designation and Offices</h4>
                <p class="card-category">Create, Read, Edit, and Delete Designation and Offices here
                </p>
            </div>
            <div class="row">
                <!-- <div class="col-md-12">
                    <div class="card-body">
                        <div class="iframe-container d-none d-lg-block">
                            <iframe src="https://material.io/design/iconography/system-icons.html#grid-and-keyline-shapes">
                                <p>Your browser does not support iframes.</p>
                            </iframe>
                        </div>
                        <div class="col-md-12 d-none d-sm-block d-md-block d-lg-none d-block d-sm-none text-center ml-auto mr-auto">
                            <h5>The icons are visible on Desktop mode inside an iframe. Since the iframe is not working on Mobile and Tablets please visit the icons on their original page on Google. Check the
                                <a href="https://fonts.google.com/icons" target="_blank">Material Icons</a>
                            </h5>
                        </div>
                    </div>
                </div> -->
                
                <div class="col-lg-6 col-md-12">
                  <div class="card">
                      <div class="card-header card-header-info text-center">
                          <div class="row">
                            <div class="col-xl-7 col-lg-12">
                                <h2 class="card-title">Designation</h2>
                                <p class="card-category">List of all designations</p>
                            </div>
                            <div class="col-xl-5 col-lg-12 align-self-center">
                                <button class="btn btn-white" mat-raised-button (click)="addDesignation()">Add Designation</button>
                            </div>
                          </div>
                      </div>
                      <div class="card-body table-responsive">
                          <table class="table table-hover tableCenter">
                              <thead class="text-warning">
                                  <th>No.</th>
                                  <th>Designation Name</th>
                                  <th>Actions</th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let des of designationsList; let indexOfElement=index;">
                                      <td>{{ indexOfElement + 1  }}</td>
                                      <td>{{ des.designation }}</td>
                                      <td>
                                        <div class="row d-flex justify-content-center">
                                            <div class="col zeroPadding">
                                              <button class="btn btn-warning" (click)="updateDesignation(des.id, des.designation)"><mat-icon>edit</mat-icon></button>
                                            </div>
                                            <div class="col zeroPadding">
                                              <button class="btn btn-danger" (click)="deleteDesignation(des.id)"><mat-icon>delete</mat-icon></button>
                                            </div>
                                        </div>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
            
              <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-success text-center">
                        <div class="row">
                          <div class="col-xl-7 col-lg-12">
                            <h2 class="card-title">Offices</h2>
                            <p class="card-category">List of Offices, Clusters, Divisions, or Units</p>

                          </div>
                          <div class="col-xl-5 col-lg-12 align-self-center">
                              <button class="btn btn-white" (click)="addClusters()">Add Office</button>
                          </div>
                        </div>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover tableCenter">
                            <thead class="text-warning">
                                <th>No.</th>
                                <th>Office Name</th>
                                <th>Actions</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let clus of clustersList; let indexOfElement=index;">
                                    <td>{{ indexOfElement + 1  }}</td>
                                    <td>{{ clus.clusters }}</td>
                                    <td>
                                        <div class="row d-flex justify-content-center">
                                            <div class="col zeroPadding">
                                              <button class="btn btn-warning" (click)="updateClusters(clus.id, clus.clusters)"><mat-icon>edit</mat-icon></button>
                                            </div>
                                            <div class="col zeroPadding">
                                              <button class="btn btn-danger" (click)="deleteClusters(clus.id)"><mat-icon>delete</mat-icon></button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

              <!-- <div class="col-lg-6 col-md-12">
                  <div class="card">
                      <div class="card-header card-header-success">
                          <h4 class="card-title">Clusters</h4>
                          <p class="card-category">List of Offices, Clusters, Divisions, or Units</p>
  
                          //TODO: CREATE AN "ADD CLUSTERS" BUTTON
                      </div>
                      <div class="card-body table-responsive">
                          <table class="table table-hover">
                              <thead class="text-warning">
                                  <th>No.</th>
                                  <th>Cluster Name</th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let clus of clusters; let indexOfElement=index;">
                                      <td>{{ indexOfElement + 1 }}</td>
                                      <td>{{ clus }}</td>
                                  </tr>
                              </tbody>
  
                              //TODO: CREATE BUTTONS FOR EDIT AND DELETE
                          </table>
                      </div>
                  </div>
              </div> -->
            </div>
        </div>
    </div>
  </div>
  