<h1 mat-dialog-title>Generate PDF</h1>
<div mat-dialog-content>
  <p>Choose the month and dayspan you would like to generate the pdf for.</p>
  <p>Employee name: <strong>{{ data.employee.name }}</strong></p>
  <p>Employee Id: <strong>{{ data.employee.id }}</strong></p>
  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group first">
        <mat-form-field appearance="fill">
          <mat-label>Month</mat-label>
          <mat-select [(value)]="employee.monthPDF">
            <mat-option *ngFor="let month of months; let index=index;" value="{{ index + 1 }}">{{ month }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>    
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <mat-radio-group aria-label="Select an Option" [(ngModel)]="employee.dayPDF">
        <mat-radio-button value="15">1-15</mat-radio-button>
        <br>
        <mat-radio-button value="31">1-31</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

<div mat-dialog-actions>
  <button class="btn btn-secondary" (click)="onNoClick()">No Thanks</button>
  <button class="btn btn-success" (click)="submit()" cdkFocusInitial>Ok</button>
</div>
