<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <div class="row">
                            <div class="col-xl-6 col-lg-12 text-center">
                                <h2 class="card-title">Download Employee Time Record</h2>
                                <p class="card-category">Download Employee PDF</p>
                            </div>
                            <div class="col-xl-6 col-lg-12 align-self-center text-center">
                                <div class="col-xl-8 col-lg-12 row">
                                    <div class="col">
                                        <input type="text" value="" class="form-control" placeholder="Search..." [(ngModel)]="employeeName.name">
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-info btn-white" (click)="getSelectedEmployees()">Search for Employee</button>
                                    </div>
                                </div>
                            </div>
                          </div>
                    </div>
                    <br>
                    <div class="card-header card-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation row">
                            <div class="col-xl-6 col-lg-12 nav-tabs-wrapper">
                                <span class="nav-tabs-title">Offices:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item" *ngFor="let cluster of clusters">
                                        <a mat-button class="nav-link" href="#profile" data-toggle="tab" [(ngModel)]="cluster.clusters" (click)="changeCluster(cluster.clusters)">
                                          <i class="material-icons">business</i> {{ cluster.clusters }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xl-6 col-lg-12 nav-tabs-wrapper">
                                <button class="btn btn-info btn-white" (click)="downloadBulkPDF()">Download Employee Records</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary text-center">
                                    <th>No.</th>  
                                    <th>Name</th>
                                    <th>Birthdate</th>
                                    <th>Address</th>
                                    <th>Mobile Number</th>
                                    <th>Designation</th>
                                    <th>Office/Cluster/Unit</th>
                                    <th>Work Mode</th>
                                    <th>Activation Status</th>
                                    <th>Actions</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let emp of employeesList; let index=index;" class="text-center">
                                        <td>{{ index + 1 }}</td>
                                        <td>{{ emp.firstName + " " + emp.lastName }}</td>
                                        <td>{{ emp.birthdate }}</td>
                                        <td>{{ emp.address }}</td>
                                        <td>{{ emp.cellphone_number }}</td>
                                        <td>{{ emp.designation_name }}</td>
                                        <td>{{ emp.cluster_name }}</td>
                                        <td>{{ emp.work_mode }}</td>
                                        <td>{{ emp.activation_status }}</td>
                                        <td>
                                            <div class="row d-flex justify-content-center">
                                                <div class="col zeroPadding">
                                                    <button class="btn btn-info" (click)="downloadPDF(emp)"><mat-icon>picture_as_pdf</mat-icon></button>
                                                </div>
                                            </div>
                                          </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  