<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">group</i>
                      </div>
                      <p class="card-category">Total number of Employees</p>
                      <h3 class="card-title">{{ employees_length }}
                          <small>Employees</small>
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">date_range</i> Last 24 Hours
                          <!-- <i class="material-icons text-danger">warning</i>
                          <a href="javascript:void(0)">Get More Space...</a> -->
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">business</i>
                      </div>
                      <p class="card-category">Total number of Employees | On Premise</p>
                      <h3 class="card-title">{{ employees_on_premise.length}}</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">date_range</i> Last 24 Hours
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">night_shelter</i>
                      </div>
                      <p class="card-category">Total number of Employees | Work from Home</p>
                      <h3 class="card-title">{{ employees_work_home.length }}</h3>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i> Last 24 Hours
                    </div>
                </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">business_center</i>
                      </div>
                      <p class="card-category">Total number of Employees | On Business Travel</p>
                      <h3 class="card-title">{{ employees_business_travel.length }}</h3>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i> Last 24 Hours
                    </div>
                </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Total Number of Present Employees</h4>
                      <p class="card-category">
                          <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated {{ updated_time }} hours ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="card card-chart">
                  <div class="card-header card-header-danger">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Totla Number of Absent Employess</h4>
                      <p class="card-category">Last Campaign Performance</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated {{ updated_time }} hours ago
                      </div>
                  </div>
              </div>
          </div>

          <!--PENDING: Late for work Graph-->
          <!-- <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-danger">
                      <div class="ct-chart" id="completedTasksChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Completed Tasks</h4>
                      <p class="card-category">Last Campaign Performance</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div> -->
      </div>
      <div class="row">
          <div class="col-lg-6 col-md-12">
              <div class="card">
                  <div class="card-header card-header-tabs card-header-primary">
                      <div class="nav-tabs-navigation">
                          <div class="nav-tabs-wrapper">
                              <span class="nav-tabs-title">Employees:</span>
                              <ul class="nav nav-tabs" data-tabs="tabs">
                                  <li class="nav-item">
                                      <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                                        <i class="material-icons">business</i> On Premise
                                          <div class="ripple-container"></div>
                                      </a>
                                  </li>
                                  <li class="nav-item">
                                      <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                                        <i class="material-icons">night_shelter</i> Work from Home
                                          <div class="ripple-container"></div>
                                      </a>
                                  </li>
                                  <li class="nav-item">
                                      <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                                        <i class="material-icons">business_center</i> On Business Travel
                                          <div class="ripple-container"></div>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="tab-content">
                          <div class="tab-pane active" id="profile">
                              <table class="table">
                                <thead class="text-warning">
                                    <th>No.</th>
                                    <th>Name</th>
                                    <th>Designation</th>
                                    <th>Office/Cluster/Unit</th>
                                    <th>Status</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let emp of employees_on_premise; let index = index;">
                                        <td>{{ index+1 }}</td>
                                        <td>{{ emp.firstName + " " + emp.lastName }}</td>
                                        <td>{{ emp.designation_name }}</td>
                                        <td>{{ emp.cluster_name }}</td>
                                        <td>{{ emp.employment_status }}</td>
                                    </tr>
                                </tbody>
                              </table>
                          </div>
                          <div class="tab-pane" id="messages">
                              <table class="table">
                                <thead class="text-warning">
                                    <th>No.</th>
                                    <th>Name</th>
                                    <th>Designation</th>
                                    <th>Office/Cluster/Unit</th>
                                    <th>Status</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let emp of employees_work_home; let index = index;">
                                        <td>{{ index+1 }}</td>
                                        <td>{{ emp.firstName + " " +emp.lastName }}</td>
                                        <td>{{ emp.designation_name }}</td>
                                        <td>{{ emp.cluster_name }}</td>
                                        <td>{{ emp.employment_status }}</td>
                                    </tr>
                                </tbody>
                              </table>
                          </div>
                          <div class="tab-pane" id="settings">
                              <table class="table">
                                
                                    <thead class="text-warning">
                                        <th>No.</th>
                                        <th>Name</th>
                                        <th>Designation</th>
                                        <th>Office/Cluster/Unit</th>
                                        <th>Status</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let emp of employees_business_travel; let index = index;">
                                            <td>{{ index+1 }}</td>
                                            <td>{{ emp.firstName + " " + emp.lastName }}</td>
                                            <td>{{ emp.designation_name }}</td>
                                            <td>{{ emp.cluster_name }}</td>
                                            <td>{{ emp.employment_status }}</td>
                                        </tr>
                                    </tbody>
                               
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">Employees Stats</h4>
                      <p class="card-category">List of all employees since 2021</p>
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-warning">
                              <th>ID</th>
                              <th>Name</th>
                              <th>Work Mode</th>
                              <th>Employment Status</th>
                          </thead>
                          <tbody>
                              <tr *ngFor="let emp of employees">
                                  <td>{{ emp.employee_id }}</td>
                                  <td>{{ emp.firstName + " " + emp.lastName }}</td>
                                  <td>{{ emp.work_mode }}</td>
                                  <td>{{ emp.employment_status }}</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<router-outlet></router-outlet>
