<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div class="row">
                            <div class="col-xl-7 col-lg-12 text-center">
                                <h2 class="card-title">List of All Employees</h2>
                                <p class="card-category">List of all employees recorded.</p>
                            </div>
                            <div class="col-xl-5 col-lg-12 align-self-center text-center">
                                <button class="btn btn-white" mat-raised-button (click)="addEmployee()">Add Employee</button>
                                <!-- <button class="btn btn-white" mat-raised-button (click)="downloadPDF()">Download PDF</button> -->
                                <button class="btn btn-white" mat-raised-button (click)="createTime()">Time In</button>
                                <button class="btn btn-white" mat-raised-button (click)="updateTime()">Time Out</button>
                                <button class="btn btn-white" mat-raised-button (click)="overtime()">Overtime Time In</button>
                                <button class="btn btn-white" mat-raised-button (click)="overtime()">Overtime Time Out</button>
                            </div>
                          </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary text-center">
                                    <th>No.</th>  
                                    <th>Name</th>
                                    <th>Birthdate</th>
                                    <th>Address</th>
                                    <th>Mobile Number</th>
                                    <th>Designation</th>
                                    <th>Office/Cluster/Unit</th>
                                    <th>Work Mode</th>
                                    <th>Activation Status</th>
                                    <th>Actions</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let emp of employeesList; let index=index;" class="text-center">
                                        <td>{{ index + 1 }}</td>
                                        <td>{{ emp.firstName + " " + emp.lastName }}</td>
                                        <td>{{ emp.birthdate }}</td>
                                        <td>{{ emp.address }}</td>
                                        <td>{{ emp.cellphone_number }}</td>
                                        <td>{{ emp.designation_name }}</td>
                                        <td>{{ emp.cluster_name }}</td>
                                        <td>{{ emp.work_mode }}</td>
                                        <td>{{ emp.activation_status }}</td>
                                        <td>
                                            <div class="row d-flex justify-content-center">
                                                <div class="col zeroPadding">
                                                  <button class="btn btn-warning" (click)="updateEmployee(emp)"><mat-icon>edit</mat-icon></button>
                                                </div>
                                                <div class="col zeroPadding">
                                                  <button class="btn btn-danger" (click)="deleteEmployee(emp)"><mat-icon>delete</mat-icon></button>
                                                </div>
                                            </div>
                                          </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Table on Plain Background</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Country
                                    </th>
                                    <th>
                                        City
                                    </th>
                                    <th>
                                        Salary
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Niger
                                        </td>
                                        <td>
                                            Oud-Turnhout
                                        </td>
                                        <td>
                                            $36,738
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            Minerva Hooper
                                        </td>
                                        <td>
                                            Curaçao
                                        </td>
                                        <td>
                                            Sinaai-Waas
                                        </td>
                                        <td>
                                            $23,789
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            Sage Rodriguez
                                        </td>
                                        <td>
                                            Netherlands
                                        </td>
                                        <td>
                                            Baileux
                                        </td>
                                        <td>
                                            $56,142
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                        </td>
                                        <td>
                                            Philip Chaney
                                        </td>
                                        <td>
                                            Korea, South
                                        </td>
                                        <td>
                                            Overland Park
                                        </td>
                                        <td>
                                            $38,735
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5
                                        </td>
                                        <td>
                                            Doris Greene
                                        </td>
                                        <td>
                                            Malawi
                                        </td>
                                        <td>
                                            Feldkirchen in Kärnten
                                        </td>
                                        <td>
                                            $63,542
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            6
                                        </td>
                                        <td>
                                            Mason Porter
                                        </td>
                                        <td>
                                            Chile
                                        </td>
                                        <td>
                                            Gloucester
                                        </td>
                                        <td>
                                            $78,615
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
  </div>
  