<h1 mat-dialog-title>Add Designation</h1>
<div mat-dialog-content>
  <p>Please type in your new designation.</p>
  <mat-form-field appearance="fill">
    <mat-label>Designation</mat-label>
    <input matInput [(ngModel)]="addedDesignation">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button class="btn btn-secondary" (click)="onNoClick()">No Thanks</button>
  <button class="btn btn-success" (click)="submit()" cdkFocusInitial>Ok</button>
</div>