<h1 mat-dialog-title>Update Cluster</h1>
<div mat-dialog-content>
  <p>Please type in your new cluster.</p>
  <p>Currently selected: <strong>{{ data.clusters }}</strong></p>
  <mat-form-field appearance="fill">
    <mat-label>{{ data.clusters }}</mat-label>
    <input matInput [(ngModel)]="updatedClusters">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button class="btn btn-secondary" (click)="onNoClick()">No Thanks</button>
  <button class="btn btn-success" (click)="update()" cdkFocusInitial>Ok</button>
</div>