<h1 mat-dialog-title>Update Designation</h1>
<div mat-dialog-content>
  <p>Please type in your new designation.</p>
  <p>Currently selected: <strong>{{ data.designation }}</strong></p>
  <mat-form-field appearance="fill">
    <mat-label>{{ data.designation }}</mat-label>
    <input matInput [(ngModel)]="addedDesignation">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button class="btn btn-secondary" (click)="onNoClick()">No Thanks</button>
  <button class="btn btn-success" (click)="update()" cdkFocusInitial>Ok</button>
</div>