<div>
    <div style="text-align: center; margin-bottom: 1rem;">
        <img src="./assets/img/chd-mimaropa.png" alt="logo" style="width: 500px; display: inline-block;">
    </div>
    <div style="text-align: center;">
        <p style="font-size: 2rem; font-weight: bold;">Center for Health Development - MIMAROPA REGIONAL OFFICE</p>
        <p style="font-size: 1rem; font-weight: bold;">DTR - TIME TRACKER SYSTEM</p>
        <p style="font-size: 1rem;">- INFORMATION COMMUNICATION TECHNOLOGY UNIT -</p>
        <p style="font-size: 1rem;">- COPYRIGHT 2022 -</p>
        <p style="font-size: 1rem;">- Mcgibson Mijares -</p>
    </div>
</div>