<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">User Profile</h4>
                      <p class="card-category">Complete your profile</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                  <mat-label>{{ currentEmployee.employee_id }}</mat-label>
                                  <input matInput placeholder="Employee ID" [(ngModel)]="currentEmployee.employee_id">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <mat-label>{{ currentUser.username }}</mat-label>
                                    <input matInput placeholder="Username" [(ngModel)]="currentUser.username">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <mat-label>{{ currentUser.email }}</mat-label>
                                    <input matInput placeholder="Email address" type="email" [(ngModel)]="currentUser.email">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <mat-label>{{ currentEmployee.firstName }}</mat-label>
                                  <input matInput placeholder="First Name" type="text" [(ngModel)]="currentEmployee.firstName">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <mat-label>{{ currentEmployee.middleName }}</mat-label>
                                  <input matInput placeholder="First Name" type="text" [(ngModel)]="currentEmployee.middleName">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <mat-label>{{ currentEmployee.lastName }}</mat-label>
                                  <input matInput placeholder="Last Name" type="text" [(ngModel)]="currentEmployee.lastName">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                <mat-label>{{ currentEmployee.suffix }}</mat-label>
                                <input matInput placeholder="Suffix" type="text" [(ngModel)]="currentEmployee.suffix">
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                <mat-label>{{ currentEmployee.cellphone_number }}</mat-label>
                                <input matInput placeholder="Phone Number" type="text" [(ngModel)]="currentEmployee.cellphone_number">
                              </mat-form-field>
                            </div>
                        </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <mat-label>{{ currentEmployee.address }}</mat-label>
                                  <input matInput placeholder="Address" type="text" [(ngModel)]="currentEmployee.address">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <mat-label>{{ currentEmployee.username }}</mat-label>
                                  <input matInput placeholder="Birthdate" type="text" [(ngModel)]="currentEmployee.lastName">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <mat-label>{{ currentEmployee.username }}</mat-label>
                                  <input matInput placeholder="Employment Status" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <mat-label>{{ currentEmployee.username }}</mat-label>
                                  <input matInput placeholder="Activation Status" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <label>About Me</label>
                                <mat-form-field class="example-full-width">
                                   <textarea matInput placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                                 </mat-form-field>
                                  <!-- <div class="form-group">

                                      <div class="form-group">
                                          <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                          <textarea class="form-control" rows="5"></textarea>
                                      </div>
                                  </div> -->
                              </div>
                          </div>
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="print()">Update Profile</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">Alec Thompson</h4>
                      <p class="card-description">
                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                      <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>