
<div class="main-content">
  <div class="container-fluid">
      <div class="card card-plain">
          <div class="card-header card-header-danger">
              <h4 class="card-title">Material Design Icons</h4>
              <p class="card-category">Handcrafted by our friends from
                  <a target="_blank" href="https://fonts.google.com/icons">Google</a>
              </p>
          </div>
          <div class="row">
              <!-- <div class="col-md-12">
                  <div class="card-body">
                      <div class="iframe-container d-none d-lg-block">
                          <iframe src="https://material.io/design/iconography/system-icons.html#grid-and-keyline-shapes">
                              <p>Your browser does not support iframes.</p>
                          </iframe>
                      </div>
                      <div class="col-md-12 d-none d-sm-block d-md-block d-lg-none d-block d-sm-none text-center ml-auto mr-auto">
                          <h5>The icons are visible on Desktop mode inside an iframe. Since the iframe is not working on Mobile and Tablets please visit the icons on their original page on Google. Check the
                              <a href="https://fonts.google.com/icons" target="_blank">Material Icons</a>
                          </h5>
                      </div>
                  </div>
              </div> -->

              <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Designation</h4>
                        <p class="card-category">List of all designations</p>

                        //TODO: CREATE AN "ADD DESIGNATION" BUTTON
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>No.</th>
                                <th>Designation Name</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let des of designations; let indexOfElement=index;">
                                    <td>{{ indexOfElement + 1  }}</td>
                                    <td>{{ des }}</td>
                                </tr>
                            </tbody>

                            //TODO: CREATE BUTTONS FOR EDIT AND DELETE
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Clusters</h4>
                        <p class="card-category">List of Offices, Clusters, Divisions, or Units</p>

                        //TODO: CREATE AN "ADD CLUSTERS" BUTTON
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>No.</th>
                                <th>Cluster Name</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let clus of clusters; let indexOfElement=index;">
                                    <td>{{ indexOfElement + 1 }}</td>
                                    <td>{{ clus }}</td>
                                </tr>
                            </tbody>

                            //TODO: CREATE BUTTONS FOR EDIT AND DELETE
                        </table>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>
