<h1 mat-dialog-title>Delete Employee</h1>
<div mat-dialog-content>
  <p style="color: red">Are you sure you want to delete this employee?</p>
  <p>Employee name: <strong>{{ data.employee.name }}</strong></p>
  <p>Employee Id: <strong>{{ data.employee.id }}</strong></p>
</div>

<div mat-dialog-actions>
  <button class="btn btn-secondary" (click)="onNoClick()">No Thanks</button>
  <button class="btn btn-success" (click)="delete()" cdkFocusInitial>Ok</button>
</div>
