<h1 mat-dialog-title>Add Employee</h1>
<div mat-dialog-content>
  <p>Please fill in the fields.</p>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group first">
        <mat-form-field appearance="fill">
            <mat-label>Employee ID</mat-label>
            <input matInput [(ngModel)]="employee.employee_id">
        </mat-form-field>
      </div>    
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group first">
        <mat-form-field appearance="fill">
            <mat-label>First name</mat-label>
            <input matInput [(ngModel)]="employee.firstName">
        </mat-form-field>
      </div>    
    </div>
    <div class="col-md-4">
      <div class="form-group first">
        <mat-form-field appearance="fill">
            <mat-label>Middle name</mat-label>
            <input matInput [(ngModel)]="employee.middleName">
        </mat-form-field>
      </div>    
    </div>
    <div class="col-md-4">
      <div class="form-group first">
        <mat-form-field appearance="fill">
            <mat-label>Last name</mat-label>
            <input matInput [(ngModel)]="employee.lastName">
        </mat-form-field>
      </div>    
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group first">
        <mat-form-field appearance="fill">
          <mat-label>Suffix</mat-label>
          <mat-select [(value)]="employee.suffix">
            <mat-option *ngFor="let suffix of suffixNames" value="{{ suffix }}">{{ suffix }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>    
    </div>
    <div class="col-md-9">
      <div class="form-group first">
        <mat-form-field appearance="fill">
            <mat-label>Phone Number</mat-label>
            <input matInput maxlength="11" [(ngModel)]="employee.cellphone_number">
        </mat-form-field>
      </div>    
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group first">
        <mat-form-field appearance="fill">
          <mat-label>Designation</mat-label>
          <mat-select [(value)]="employee.designation_id">
            <mat-option *ngFor="let designation of designations" value="{{ designation.id }}">{{ designation.designation }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>    
    </div>
    <div class="col-md-6">
      <div class="form-group first">
        <mat-form-field appearance="fill">
          <mat-label>Employment Status</mat-label>
          <mat-select [(value)]="employee.employment_status">
            <mat-option *ngFor="let status of employment_status" value="{{ status }}">{{ status }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>    
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group first">
        <mat-form-field appearance="fill">
          <mat-label>Office/Cluster/Units</mat-label>
          <mat-select [(value)]="employee.clusters_id">
            <mat-option *ngFor="let cluster of clusters" value="{{ cluster.id }}">{{ cluster.clusters }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>    
    </div>
    <div class="col-md-6">
      <div class="form-group first">
        <div class="row">
          <div class="col-md-12">
            <mat-form-field appearance="fill">
              <mat-label>Birth Date </mat-label>
              <input matInput angular-mydatepicker name="mydate" 
                [(ngModel)]="birthdate" #dp="angular-mydatepicker" />
              <button mat-icon-button matSuffix (click)="dp.openCalendar()">
                <mat-icon>calendar_today</mat-icon> 
              </button>
            </mat-form-field>
          </div>
        </div>
      </div>    
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="form-group first">
        <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput [(ngModel)]="employee.address">
        </mat-form-field>
      </div>    
    </div>
  </div>

  <div class="row mt-12">
    <div class="col-md-12">
      <h3>Set A User</h3>
      <p class="mb-4">This will be your credentials when logging in.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group first">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput  [formControl]="email" [(ngModel)]="employee.email">
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>    
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="form-group first">
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="employee.username">
        </mat-form-field>
      </div>    
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group first">
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="employee.password">
        </mat-form-field>
      </div>    
    </div>
  </div>
 
  <div class="row">
    <div class="col-md-12">
      <mat-form-field appearance="fill">
        <mat-label>Password Confirmation</mat-label>
        <input matInput [(ngModel)]="employee.password_confirmation">
    </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <mat-radio-group aria-label="Select an option" [(ngModel)]="employee.activation_status">
        <mat-radio-button value="Active">Active</mat-radio-button>
        <br>
        <mat-radio-button value="Inactive">Inactive</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  
</div>
<div mat-dialog-actions>
  <button class="btn btn-secondary" (click)="onNoClick()">No Thanks</button>
  <button class="btn btn-success" (click)="submit()" cdkFocusInitial>Ok</button>
</div>
