<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form">
                <div style="text-align: center; margin-bottom: 1rem;">
                    <img src="./assets/img/chd-mimaropa.png" alt="logo" style="width: 100px; display: inline-block;">
                </div>
                
                <span class="login100-form-title p-b-43" style="margin-bottom: 5px;">
                    DTR - TIME TRACKER SYSTEM VER. 1.0
                </span>
                
                <span class="login100-form-subtitle p-b-43" style="margin-bottom: 2em;">
                    Center for Health Development - MIMAROPA REGIONAL OFFICE
                </span>

                <!-- <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" name="email">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Email</span>
                </div> -->
                
                <form (submit)="$event.preventDefault()">
                    <mat-form-field appearance="fill">
                      <mat-label>Username or Email</mat-label>
                      <input matInput #first [(ngModel)]="usernameOrEmail.username">
                      <mat-hint *ngIf="firstNameAutofilled">Autofilled!</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                      <mat-label>Password</mat-label>
                      <input matInput #last [(ngModel)]="user.password" type='password'>
                      <mat-hint *ngIf="lastNameAutofilled">Autofilled!</mat-hint>
                    </mat-form-field>
                  </form>
                  
                <!-- <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" name="pass">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Password</span>
                </div> -->

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" (click)="login()" *ngIf="!isLoading">
                        Login
                    </button>
                    <mat-spinner *ngIf="isLoading" [diameter]="30"></mat-spinner>
                </div>

                <div class="flex-sb-m w-full p-t-3 p-b-32" style="margin-top: 2rem;">
                    <!-- <div class="contact100-form-checkbox mt-12">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label>
                    </div> -->
                    
                    <div class="mt-12 pt-12">
                        <a routerLink="/register">Don't have an account? Register Now.</a>
                    </div>
                    <!-- <div style="margin-bottom: 2rem;">
                        <a href="#" class="txt1">
                            Forgot Password?
                        </a>
                    </div> -->
                </div>
            </form>

            <div class="login100-more" style="background-image: url('./assets/img/register.png');">
            </div>
        </div>
    </div>
</div>

<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>